* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", system-ui, -apple-system,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 75%;
    margin: auto;
}

nav {
    background-color: #ffffff;
    height: 10vh;

}


.logo {
    color: #212529;

}

.logo span {
    color: rgb(158, 17, 17);
    font-size: 35px;

}

nav .container {

    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

nav .container ul {
    display: flex;
    flex-direction: column;

}

ul li .marked {
    border-bottom: solid 2px #ce1212;
    color: #212529;
}

.container ul li {
    list-style: none;
    font-weight: 600;
    padding: 0 25px;
    font-size: 17px;
    padding-bottom: 20px;
    text-align: left;

}

.container ul li a {
    text-decoration: none;
    color: #7f7f90;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.4s;


}

ul li a:hover {
    border-bottom: solid 2px #ce1212;
    color: #212529;
}


.links-of-nav {
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 30vh;
    padding-top: 10px;
}

.container .moon i {
    font-size: 30px;
    color: #37373f;
}

header,
.gallery {
    background-color: #eee;
    padding-bottom: 100px;

}

.header-content {
    width: 100%;
}

.header-content h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 65px;
    color: #37373f;
    align-items: start;
}

.header-content p {
    font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #37373f;

}

.header-img {
    width: 100%;
}

.header-img:hover {
    transform: translate(-10px, 10px);

}

.header-img img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);

    transition: all 0.6s;
    padding-bottom: 50px;
    position: relative;

}

.header-img img:hover {
    /* transform: rotate(7deg); */

    transform: translate(0.443065px, 0.164598px) rotate(-0.278467deg);

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    flex-direction: column-reverse;
}

.header-content .btns {
    padding-top: 50px;
    display: flex;
    align-items: center;

}

.header-content .btn1 {
    border-radius: 20px;
    border: none;
    background-color: #ce1212;
    border-top-left-radius: 0;
    color: #ffffff;
    font-size: 17px;
    transition: all 0.5s;
    height: max-content;
    padding: 10PX 15PX;
    margin-right: 50PX;
}

.header-content .btn1:hover {
    background-color: #f70000;
}

.btn2 span i {
    background-color: #ffffffff;
    border-radius: 50%;
    padding: 15PX;
}

.header-content .btns .btn2 {
    border: none;
    font-size: 17px;
    transition: all 0.5s;
    font-weight: 500;
    display: flex;
    align-items: center;
    align-self: center;




}

.header-content .btns .btn2:hover {
    color: #ce1212;
}


.btns .btn2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60PX;
    height: 60PX;
    padding: 15px;
    background-image: linear-gradient(to right, #ce1212 0 50%,
            transparent 50% 100%);
    border-radius: 50%;

}

section {
    padding-bottom: 50px;
}

.cheef-content {
    text-align: center;
    padding: 100px 50px 50px;
}

.cheef-content p {
    color: #7f7f90;
}

.cheef-content h2,
.cheef-content h2 span {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.cheef-content h2 span {
    color: #ce1212;
}

.links-of-cheefs {
    width: 50px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    transition: all 0.9s;


}

.links-of-cheefs i {
    font-size: 30px;
    padding: 10px;

}

.links-of-cheefs a {
    list-style: none;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.9s;

}

.cards .card {
    width: 100%;
    box-shadow: 3px 3px 15px 0px rgba(1, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.5s;
    position: relative;
}

.cards .card:hover {
    transform: scale(107%);

}

.links-of-cheefs a:hover {
    color: rgba(0, 0, 0, 0.9);

}

.cards .card:hover .links-of-cheefs {
    display: flex;
    flex-direction: column;
    transform: translateY(20);

}

.card .pic img {
    width: 100%;
}

.card .cheef-img {
    border-radius: 10px;


}

.card .pic {
    position: relative;

}

.card .pic .shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;


}


.card-discr {
    text-align: center;
    margin: 10PX 0;
}

.card-discr p {

    color: #7f7f90;
    padding: 10px;
    width: 80%;
    margin: auto;

}

.gallery-clm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.gallery-clm picture img {
    border: solid #ffffff 4px;
}

.gallery-clm picture {
    position: relative;
    height: min-content;
    margin: 10px;


}

.gallery-clm .layer p {
    padding: 20px;
}

.gallery-clm .layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 8px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* animation: moveLayer 4s; */
    overflow: hidden;
}

@keyframes moveLayer {
    0% {
        bottom: -100%
    }

   
    50% {
        bottom: 0
    }
    100%{
        bottom: -100%;
    }


}

.gallery-clm picture:hover .layer {
    visibility: visible;
    animation: moveLayer 1s;

}